body{
    font-family: 'Vazirmatn', sans-serif !important;
    background-color: #2c3e50;
    height: 10000vh;
}

/* start hi abolfazl */
.mli{
    text-align: center;
    color: white;
}
.ml6 {
    position: relative;
    font-weight: 900;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}
/* end hi abolfazl */


/* start beugrafi */
.css1box{
    box-shadow: rgba(0, 17, 255, 0.836) 0px 24px 38px, rgb(255, 0, 0) 0px 15px 12px;
    background-color: #007ffd9c;
    padding: 20px;
    margin-top: 50px;
    color: white;
}
/* end beugrafi */
