body{
    font-family: 'Vazirmatn', sans-serif !important;
    background-color: #2c3e50;
}

/* start hi abolfazl */
.mli{
    text-align: center;
    color: white;
}
.ml6 {
    position: relative;
    font-weight: 900;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}
/* end hi abolfazl */